[submodule ".dotbot"]
	path = .dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "dotbot"]
	ignore = dirty
[submodule ".dotbot-plugins/dotbot-brew"]
	path = .dotbot-plugins/dotbot-brew
	url = https://github.com/d12frosted/dotbot-brew.git
