aliases:
    pc: >-
      !gh pr create --assignee=@me --fill
      && gh pr view --web
    open-prs: >-
        !gh api graphql -f query="
          query {
            viewer {
              pullRequests(first: 100, states: [OPEN]) {
                nodes {
                  author { login }
                  headRefName
                  isDraft
                  number
                  permalink
                  repository { name }
                  title
                }
              }
            }
          }
        "
    my-repos: >-
      !gh api graphql -f query="
        query {
          viewer {
            repositories(first: 100) {
              nodes { nameWithOwner }
            }
          }
        }
      "
      | jq .data.viewer.repositories.nodes[].nameWithOwner
      | sed "s/\"//g"
    org-repos: >-
        !gh api graphql -f query="
          query {
            viewer {
              organizations(first: 10) {
                nodes {
                  repositories(first: 100) {
                    nodes { nameWithOwner }
                  }
                }
              }
            }
          }
        "
        | jq .data.viewer.organizations.nodes[].repositories.nodes[].nameWithOwner
        | sed "s/\"//g"
editor: nvim
version: "1"
